@import "../../../../styles/mixin";

.component {
  padding: rem(40) 0 rem(60);

  @media only screen and (min-width: 1024px) {
    padding: rem(80) 0 0;
  }
}

.grid {
  display: grid;
  row-gap: rem(12);
  padding-bottom: rem(24);

  @media only screen and (min-width: 1024px) {
    grid-template-columns: 66% 30%;
    column-gap: rem(42);
  }

  &.text {
    &--center {
      grid-template-columns: 1fr;
      text-align: center;

      h2 {
        margin: 0 auto;
      }

      p {
        max-width: rem(750);
        margin: 0 auto;
      }
    }
  }
}

.heading {
  max-width: rem(750);
}

.card {
  position: relative;
  overflow: hidden;
  aspect-ratio: 3 / 4;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 100%
    );
    z-index: 1;
    pointer-events: none;
  }

  img, video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &::-webkit-media-controls {
      display: flex !important;
      opacity: 1 !important;
    }
    
    &::-webkit-media-controls-panel {
      display: flex !important;
      opacity: 1 !important;
    }
    
    &::-webkit-media-controls-enclosure {
      opacity: 1 !important;
    }
  }

  &:hover {
    img {
      transform-origin: center;
      
    }
  }
}

.copy {
  display: grid;
  row-gap: rem(6);
  position: absolute;
  top: 0;
  bottom: inherit;
  left: 0;
  width: 100%;
  padding: 0 rem(24) rem(24);
  z-index: 2;
  
  @media only screen and (min-width: 1024px) {
    top: inherit;
    bottom: 0;
  }
}