@import "../../../../styles/mixin";

.component {
	padding: rem(40) 0 0;

	@media only screen and (min-width: 1024px) {
		padding: rem(80) 0 0;
	}
}

.grid {
	display: flex;
	flex-direction: column-reverse;
	row-gap: rem(20);
	margin-bottom: rem(40);

	@media only screen and (min-width: 1024px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: rem(30);
		margin-bottom: rem(80);
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.style {
	&-2 {
		.content {
			grid-column: 2;
		}

		.img {
			grid-row: 1;
		}
	}

	&-mobile {
		.content {
			order: 1;

			@media only screen and (min-width: 1024px) {
				order: 0;
				grid-row: 1;
			}
		}

		.img {
			@media only screen and (min-width: 1024px) {
				grid-row: 1;
				min-height: rem(400);
			}
		}
	}

	&-3 {
		display: block;

		.content {
			display: flex;
			align-items: center;
			row-gap: rem(40);

			@media only screen and (min-width: 1024px) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: rem(30);
			}
		}

		.listitems {
			height: min-content;
		}

		.button {
			display: flex;
			justify-content: center;
			grid-column: span 2;
			text-align: center;
			margin-bottom: rem(40);
		}
	}

	&-4 {

		&.grid {
			flex-direction: column;
		}

		.img {
			&--2 {
				display: block;
			}
		}

		.content {
			display: flex;
			align-items: center;
			grid-column: 3 / 1;
			row-gap: rem(40);

			@media only screen and (min-width: 1024px) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: rem(30);
			}
		}

		.listitems {
			height: min-content;
		}

		.button {
			display: flex;
			justify-content: center;
			grid-column: span 2;
			text-align: center;
			margin-bottom: rem(40);
		}
	}
}

.content {
	display: flex;
	flex-direction: column;
	row-gap: rem(20);

	p {
		margin-bottom: rem(12);

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		padding: 0 0 rem(20) rem(30);
	}

	li {
		list-style: disc;
	}
}

.title {
	margin-bottom: rem(24);
}

.listitems {
	display: grid;
	gap: rem(10);

	@media only screen and (min-width: 1024px) {
		grid-template-columns: 1fr 1fr;
		gap: rem(30);
	}
}

.img {
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background: linear-gradient(180deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.7) 100%);
		z-index: 1;
	}

	&:hover {
		img {
			transform-origin: center;
		}
	}

	img {
		transition: transform 0.4s ease-in-out;
	}

	&--2 {
		display: none;
	}
}

.slide {
	position: relative;
	height: rem(500);
}

.copy {
	display: grid;
	row-gap: rem(6);
	position: relative;
	// bottom: 0;
	// left: 0;
	width: 100%;
	// padding: 0 rem(24) rem(24);
	padding: rem(24) 0 0;
	text-align: center;
	z-index: 2;
	background-color: #f7f7f7;

	@media only screen and (min-width: 1024px) {
		text-align: left;
	}
}

.heading {
	text-align: center;
}