@import "/styles/mixin";

.bckg {
  position: relative;
  height: 100vh;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
  }
}

.heading {
  position: relative;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 rem(20);
  text-align: center;
  z-index: 1;
  
  @media only screen and (min-width: 1024px){
    max-width: rem(1000);
  }
}
