@import "/styles/mixin";

.component {
  position: relative;
  padding: rem(40) 0;

  .video-container {
    margin-top: rem(20);
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 */
    height: 0;
    overflow: hidden;
    
    @media screen and (min-width: 680px) {
      margin-top: rem(30);
    }
  }

  .video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
} 