@import "/styles/mixin";

.component {
	padding: rem(40) 0 0;

	@media only screen and (min-width: 1024px) {
		padding: rem(100) 0 0;
	}
}

.title {
	display: grid;
	row-gap: rem(12);
	padding-bottom: rem(24);

	@media only screen and (min-width: 1024px) {
		grid-template-columns: 66% 30%;
		column-gap: rem(42);
	}
}

.grid {
	display: grid;
	row-gap: rem(20);

	@media only screen and (min-width: 1024px) {
		grid-template-columns: 1fr 1fr;
		column-gap: rem(42);
	}

	.gridColumn {
		@media only screen and (min-width: 1024px) {
			grid-column: span 2;
		}
	}
}

.card {
	position: relative;
	min-height: 480px;
	overflow: hidden;

	// &:hover {
	// 	img {
	// 		transform-origin: center;
	// 		
	// 	}
	// }

	img {
		transition: transform 0.4s ease-in-out;
	}

	&__img {
		position: relative;
		display: flex !important;
		width: 100%;
		height: rem(480);

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg,
					rgba(0, 0, 0, 0) 0%,
					rgba(0, 0, 0, 0.7) 100%);
			z-index: 1;
		}
	}
}

.copy {
	display: grid;
	row-gap: rem(6);
	position: relative;
	// bottom: 0;
	// left: 0;
	width: 100%;
	// padding: 0 rem(24) rem(24);
	padding: rem(24) 0 0;
	text-align: center;
	z-index: 2;

	@media only screen and (min-width: 1024px) {
		text-align: left;
	}
}

.heading {
	text-align: center;
}