@font-face {
	font-family: "Bilo";
	src: url("/fonts/Bilo.woff2") format("woff2"),
		url("/fonts/Bilo.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Bilo-Bold";
	src: url("/fonts/Bilo-Bold.woff2") format("woff2"),
		url("/fonts/Bilo-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: "Bilo";
}