@import "styles/mixin";

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--color-primary: #1a3c34;
	--color-primary-50: #d1d8d6;
	--color-primary-100: #768a85;
	--color-secondary: #dd8b61;
	--color-secondary-50: #f8e8df;
	--color-white: #fff;
	--color-gray: #5d5d5d;
	--color-gray-50: #dde5e9;
	--color-gray-100: #f7f7f7;
}

@font-face {
	font-family: "Bilo";
	src: url("/fonts/Bilo.woff2") format("woff2"),
		url("/fonts/Bilo.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Bilo";
	src: url("/fonts/Bilo-Light.woff2") format("woff2"),
		url("/fonts/Bilo-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Bilo";
	src: url("/fonts/Bilo-Bold.woff2") format("woff2"),
		url("/fonts/Bilo-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

html,
body {
	scroll-behavior: smooth;
	scroll-padding-top: rem(50);
}

body {
	font-family: "Bilo";
	margin: 0;
	background-color: var(--color-gray-100);
	-webkit-font-smoothing: antialiased;
}

main {
	position: relative;
	z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	fill: var(--color-white);
}

// ::-moz-selection {
// 	color: var(--wpe--color--white);
// 	background-color: var(--wpe--color--accent);
// }

// ::selection {
// 	color: var(--wpe--color--white);
// 	background-color: var(--wpe--color--accent);
// }

ul {
	margin: 0;
	padding: 0;
}

figure {
	display: flex;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
