.heading {
	&--14,
	&--20,
	&--24,
	&--32,
	&--44,
	&--68 {
		font-style: normal;
		font-weight: 700;
		line-height: 110%;
	}

	&--13,
	&--16 {
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
	}

	&--12 {
		font-family: "Montserrat", sans-serif;
		font-size: rem(12);
	}

	&--13 {
		font-family: "Montserrat", sans-serif;
		font-size: rem(13);
	}

	&--14 {
		font-family: "Montserrat", sans-serif;
		font-size: rem(15);
	}

	&--16 {
		font-family: "Montserrat", sans-serif;
		font-size: rem(16);
		@media only screen and (min-width: 1024px) {
			font-size: rem(16);
		}
	}

	&--18 {
		font-family: "Montserrat", sans-serif;
		font-size: rem(18);
		font-style: normal;
		font-weight: 700;
		line-height: 110%;
	}

	&--20 {
		font-family: "Montserrat", sans-serif;
		font-size: rem(20);
		@media only screen and (min-width: 1024px) {
			font-size: rem(20);
		}
	}

	&--24 {
		font-family: "Montserrat", sans-serif;
		font-size: rem(16);
		@media only screen and (min-width: 1024px) {
			font-size: rem(24);
		}
	}

	&--32 {
		font-size: rem(32);
		@media only screen and (min-width: 1024px) {
			font-size: rem(32);
		}
	}

	&--40 {
		font-size: rem(40);
		font-style: normal;
		font-weight: 400;
		line-height: 110%;
	}

	&--40 {
		font-size: rem(24);
		@media only screen and (min-width: 1024px) {
			font-size: rem(40);
		}
	}

	&--54 {
		font-size: rem(32);
		font-weight: 400;
		@media only screen and (min-width: 1024px) {
			font-size: rem(54);
			line-height: rem(60);
		}
	}
}

.font {
	&-weight {
		&--100 {
			font-weight: 100;
		}
		&--300 {
			font-weight: 300;
		}
		&--400 {
			font-weight: 400;
		}
		&--500 {
			font-weight: 500;
		}
	}
}
